/* header */
body{
	font-family: '微软雅黑'!important;
}
.show {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
	z-index: 20000;
	background: rgba(255, 255, 255, 0.746);
}
.show > img {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
}
.header-con{
	height: 80px;
}
/* logo */
.logo{
	float: left;
	margin: 15px 0 0 0;
	padding: 0;
}
.logo a{
	display: block;
	width: 200px;
	height: 50px;
	background: url('../img/logo.png');
	background-size: contain;	
}
.header-right{
	float: right;
    margin: 24px 0 0 0;
    width: 890px;
	 height: 40px;
	 background: url('../img/train.png');
    background-repeat: no-repeat;
    position: relative;
	 z-index: 2000;
	 left: -70px;
}
/* 弥补火车背景 */
header:before {
	content: "";
	position: absolute;
	top: 24px;
	right: 0;
	left: 50%;
	height: 40px;
	background: #f8f8f8;
	z-index: 1;
}
.header-search {
	float: left;
	width: 450px;
	margin: 5px 0 5px 100px;
}
.header-search form{
	width: 420px;
	position: relative;
}
#search-input {
	width: 100%;
	float: left;
	border-radius: 0;
	height: 30px;
	line-height: 24px;
	border: 1px solid #DEDEDE;
	padding: 4px 10px;
	background-color: #fff;
	color: #333;
	outline: none;
	font-size: 14px;
	margin-left: 50px;
	box-sizing: border-box;
}
#search-btn{
	position: absolute;
	width: 30px;
	color: #fff;
	height: 30px;
	line-height: 30px;
	padding: 0;
	border-radius: 0;
	background-color: #3B99FC;
	border: none;
	text-align: center;
	cursor: pointer;
}
/* 头部右侧菜单 */
.header-menu {
	float: right;
	padding-right: 10px;
}
.header-menu .menu-item {
	float: left;
	margin-left: 10px;
	height: 40px;
	line-height: 40px;
	font-size: 12px;
	position: relative;
}
/* 下拉菜单 */
.header-menu .menu-nav-bd {
	position: absolute;
	top: 40px;
	left: 0;
	background: #fff;
	border: 1px solid #DEDEDE;
	width: 130px;
	padding: 10px;
	z-index: 2000;
	display: none;
}
.header-menu .menu-nav-bd li {
	height: 26px;
	line-height: 26px;
	overflow: hidden;
}
.header-menu .menu-nav-bd .nav-line {
	height: 1px;
	line-height: 1px;
	border-bottom: 1px dashed #DEDEDE;
	margin: 3px 0;
}
.header-menu .menu-nav-hd {
	color: #3B99FC;
	display: block;
	height: 40px;
	line-height: 40px;
}
.header-menu .menu-nav-hd .caret {
	margin-left: 5px;
	display: inline-block;
	width: 0;
	height: 0;
	line-height: 0;
	font-size: 0;
	overflow: hidden;
	border-width: 5px;
	border-bottom-width: 5px;
	cursor: pointer;
	border-style: solid dashed dashed dashed;
	border-bottom-style: dashed;
	border-color: #acd1f9 transparent transparent transparent;
	border-bottom-color: transparent;
	border-bottom: none;
}
.header-menu .menu-line {
	color: #acd1f9;
}
.menu-login a{
	color: #908c8c;
}
/* 导航 */
nav{
	width: 100%;
	height: 40px;
	background: #3B99FC;
	font-size: 14px;
}
.nav {
	width: 1190px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	height: 40px;
	position: relative;
	z-index: 1900;
}
/* 第一个li */
.nav .nav-item.nav-item-w1 {
	width: 145px;
}
.nav .nav-item {
	float: left;
	width: 150px;
}
/* 通用li样式 */
.nav .nav-hd {
	display: block;
	height: 40px;
	line-height: 40px;
	color: #fff;
	text-align: center;
	font-size: 14px;
}
.nav .nav-item:nth-child(1) .nav-hd {
	background: #2676E3;
	color: #fff;
}
/* 翻转三角 */
.nav .nav-item .icon {
	display: inline-block;
	vertical-align: top;
	font-size: 12px;
	margin-left: 4px;
	/* -webkit-transition: .3s linear transform; */
	transition: .3s linear transform;
}
/* 三角 */
.icon::before {
	content: "";
	/* margin-left: 5px; */
	font-size: 0;
	border-width: 5px;
	border-bottom-width: 5px;
	cursor: pointer;
	border-style: solid dashed dashed dashed;
	border-bottom-style: dashed;
	border-color: #acd1f9 transparent transparent transparent;
	border-bottom-color: transparent;
	border-bottom: none;
}
.nav .nav-bd {
	position: absolute;
	left: 0;
	right: 0;
	top: 40px;
	min-height: 40px;
	background: #fff;
	background: rgba(255,255,255,0.96);
	border: 1px solid #3B99FC;
	padding: 14px 0;
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.09);
	box-shadow: 0 2px 4px rgba(0,0,0,0.09);
	font-size: 14px;
	display: none;
}
/* 导航栏下拉 */
.nav .nav-col2 {
	width: 396px;
	float: left;
}
.nav .nav-tit {
	color: #3B99FC;
	height: 24px;
	line-height: 16px;
	position: relative;
	padding: 0 0 8px 30px;
	font-size: 14px;
	border-right: 1px solid #acd1f9;
}
.nav .nav-con li {
	float: left;
	width: 198px;
	line-height: 32px;
	height: 32px;
	padding-left: 30px;
	overflow: hidden;
	border-right: 1px solid #acd1f9;
	box-sizing: border-box;
}
.nav .nav-con li a {
	color: #666;
	font-size: 14px;
}
.nav .nav-item:hover .nav-hd .icon {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}
.nav .nav-con li a:hover {
	color: #3B99FC;
}
/* footer */
footer {
	background: #f8f8f8;
	margin-top: 40px;
}
footer .footer-con {
	padding: 20px 0;
}
footer .foot-con-tit {
	height: 54px;
	line-height: 54px;
	font-size: 14px;
}
footer .foot-links {
	float: left;
	width: 420px;
	margin-left: 60px;
	margin-right: 195px;
}
footer .foot-links-list {
	height: 100px;
}
footer .foot-links-list li {
	float: left;
	margin: 0 8px 10px 0;
}
footer .foot-links-list img {
	display: block;
	width: 200px;
	height: 34px;
	border: 1px solid #DEDEDE;
}
footer .foot-code li {
	float: left;
	text-align: center;
}
footer .foot-con-tit {
	height: 54px;
	line-height: 54px;
	font-size: 14px;
}
footer .foot-code .code-pic {
	width: 80px;
	height: 80px;
	background: #fff;
	margin: 0 auto;
	position: relative;
}
footer .foot-code .code-pic img {
	display: block;
	width: 80px;
	height: 80px;
	border: 1px solid #DEDEDE;
}
footer .footer-txt {
	text-align: center;
	padding: 10px 0;
	background: #666;
	color: #c1c1c1;
}
footer .footer-txt p {
	line-height: 30px;
}