<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>12306首页</title>
	<script src="../lib/jq.js"></script>
	<script src="../lib/underscore.js"></script>
	<script src="../lib/func.js"></script>
	<script src="../js/same.js"></script>
	<script src="../lib/laydate/laydate.js"></script>
	<link rel="stylesheet" href="../css/index.css">
</head>

<body>
	<!-- 加载区域 -->
	<div class="show" style="display: none;">
		<img src="../img/loading3.gif" alt="">
	</div>
	<!-- 头部 -->
	<header>
		<div class="w clearfix">
			<div class="header-con">
				<h1 class="logo">
					<a href="index.html"></a>
				</h1>
				<!-- 右侧内容 -->
				<div class="header-right">
					<div class="header-search">
						<form action="" method="post">
							<input type="text" name="" id="search-input" placeholder="搜索车票/餐饮/常旅客/相关规章">
							<a href="javascript:;" id="search-btn">
								<!-- TODO: 缺少搜索图 -->
							</a>
						</form>
					</div>
					<!-- 头部右侧菜单 -->
					<ul class="header-menu">
						<li class="menu-item menu-nav" id="slide-menu">
							<a href="#" class="menu-nav-hd">我的12306
								<i class="caret">
									<!-- 三角 --></i>
							</a>
							<ul class="menu-nav-bd">
								<li><a href="#">火车票订单</a></li>
								<li><a href="#">候补订单</a></li>
								<li><a href="#">我的行程</a></li>
								<li class="nav-line"></li>
								<li><a href="#">我的餐饮•特产</a></li>
								<li><a href="#">我的保险</a></li>
								<li><a href="#">我的会员</a></li>
								<li class="nav-line"></li>
								<li><a href="#">查看个人信息</a></li>
								<li><a href="#">账户安全</a></li>
								<li class="nav-line"></li>
								<li><a href="#">常用联系人</a></li>
								<li><a href="#">车票快递地址</a></li>
								<li class="nav-line"></li>
								<li><a href="#">温馨服务查询</a></li>
							</ul>
						</li>
						<li class="menu-item menu-line">|</li>
						<li class="menu-item menu-login">
							<a href="login.html">登录</a>
							<a href="login.html">注册</a>
						</li>
						<li class="menu-item menu-login" id="Cookflag" style="display: none;">
							<a href="admin.html">
								欢迎 
								<b style="color: #3B99FC;" id="user-name">jr</b>
								登录
							</a>
						</li>
						<li class="menu-item menu-line" id="loginOut-line" style="display: none;">|</li>
						<li class="menu-item menu-login">
							<a href="javascript:;" style="color:hotpink;display:none" id="loginOut" >退出</a>
						</li>
					</ul>

				</div>
			</div>
		</div>
		<!-- 导航 -->
		<nav>
			<ul class="nav">
				<li class="nav-item nav-item-w1">
					<a href="#" class="nav-hd">首页</a>
				</li>
				<li class="nav-item nav-item-w1">
					<a href="#" class="nav-hd">车票<i class="icon"></i></a>
					<!-- 下拉内容 -->
					<div class="nav-bd" id="nav-hd"></div>
					<script type="text/html" id="nav-temp">
						<% for (var i = 0; i < navData.length; i++) { %>
							<div class="nav-bd-item nav-col2">
								<h3 class="nav-tit"><%= navData[i].h3%></h3>
								<ul class="nav-con clearfix">
									<li class="nanv_dan">
										<a href="#"><%= navData[i].linkContent.one%></a>
									</li>
									<li class="nav_wang">
										<a href="#"><%= navData[i].linkContent.two%></a>
									</li>
									<li>
										<a href="#"><%= navData[i].linkContent.three%></a>
									</li>
								</ul>
							</div>
							<% } %>
					</script>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-hd">团购服务<i class="icon"></i></a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-hd">会员服务<i class="icon"></i></a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-hd">站车服务<i class="icon"></i></a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-hd">商旅服务<i class="icon"></i></a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-hd">出行指南<i class="icon"></i></a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-hd">信息查询<i class="icon"></i></a>
				</li>
			</ul>
		</nav>
	</header>
	<!-- 内容 -->
	<section>
		<div class="w clearfix">
			<!-- 轮播 -->
			<div class="fullSlide">
				<div class="bd">
					<div class="tempWrap" style="position: relative;width: auto;">
						<ul class="sowingMap">
							<li><a href="#"></a></li>
							<li><a href="#"></a></li>
							<li><a href="#"></a></li>
							<li><a href="#"></a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- 查询框 -->
			<div class="search-index">
				<ul class="search-side">
					<li class="active">
						<a href="#"><i class="iconc iconfont" style="font-size: 1.5em">&#xe605;</i>车票</a>
					</li>
					<li>
						<a href="#"><i class="iconc iconfont">&#xe64f;</i>常用查询</a>
					</li>
					<li>
						<a href="#"><i class="iconc iconfont">&#xe67c;</i>订餐</a>
					</li>
				</ul>
				<!-- 右侧内容 -->
				<div class="search-main">
					<!-- 车票 -->
					<div class="search-main-item" style="display: block;">
						<div class="search-main-tab">
							<div class="search-tab-hd">
								<ul class="clearfix" style="display: flex;">
									<li class="active">
										<a href="javascript:void(0)">
											<i class="icon icon-shijian"></i>单程</a>
									</li>
									<li class="">
										<a href="javascript:void(0)">
											<i class="icon icon-qishou"></i>起售时间</a>
									</li>
									<li class="">
										<a href="javascript:void(0)">
											<i class="icon icon-tianqi"></i>天气查询</a>
									</li>
								</ul>
							</div>
							<div class="search-tab-bd">
								<!-- 正晚点 -->
								<div class="search-tab-item" style="display: block;">
									<form method="POST" class="search-form" id="indexSelect">
										<!-- TODO: 可更改为改退签模板 -->
										<!-- <div class="form-item clearfix">
											<span class="form-label">查询类型</span>
											<div class="form-bd">
												<ul class="radio-list radio-list-station">
													<li zwd="0" name="zwd_type" class="active" id="destination_station">
														<i></i>到达站</li>
													<li zwd="1" name="zwd_type">
														<i></i>出发站</li>
												</ul>
											</div>
										</div> -->
										<div class="form-item" style="position: relative;">
											<label for="" class="form-label">出发地</label>
											<div class="form-bd">
												<div class="input-box">
													<input type="text" class="input" value="" placeholder="简拼／全拼／汉字"
														id="stationValueText" name="fromCity">
												</div>
												<div class="tooltip-error" data-id="fromStationText" style="left:354px; top: 0; display: none;">请选择出发地</div>
											</div>
											<p style="height: 16px;"></p>
											<label for="" class="form-label">到达地</label>
											<div class="form-bd">
												<div class="input-box">
													<input type="text" class="input" value="" placeholder="简拼／全拼／汉字"
														id="toValueText" name="toCity">
												</div>
												<div class="tooltip-error" data-id="toStationText" style="left:354px; top: 46px; display: none;">请选择到达地</div>
											</div>
										</div>
										<div class="form-item">
											<label for="" class="form-label">出发日期</label>
											<div class="form-bd">
												<div class="input-box late_poit">
													<input type="text" class="input" placeholder="请选择日期" id="numberValue" value="">
													<ul class="active" name="makeupCoSe" id="train_hide"
														style="width: 270px; display: none;">
													</ul>
												</div>
											</div>
										</div>
										<div class="form-item form-item-btn mt-mlg">
											<button type="submit" class="btn btn-primary form-block"
												id="bie_button">查&nbsp;&nbsp;&nbsp;&nbsp;询</button>
										</div>
									</form>
								</div>
								<!-- 起售时间 -->
								<div class="search-tab-item" style="display: none;">
									<form method="POST" class="search-form">
										<div class="form-item clearfix">
											<label for="" class="form-label">
												<b class="required">*</b>起售车站</label>
											<div class="form-bd">
												<div class="input-box">
													<input id="start_sell" type="hidden" value="" name="start_sell">
													<input type="text" class="input" value="" id="start_sellText">
												</div>
											</div>
										</div>
										<div class="form-item form-item-btn mt-mlg">
											<a href="javascript:void(0)" class="btn btn-primary form-block"
												id="sell_button">查&nbsp;&nbsp;&nbsp;&nbsp;询</a>
										</div>
									</form>
								</div>
								<!-- 天气查询 -->
								<div class="search-tab-item" style="display: none;">
									<form method="POST" class="search-form">
										<div class="form-item">
											<label for="" class="form-label">
												<b class="required">*</b>目的地</label>
											<div class="form-bd">
												<div class="input-box">
													<input id="destination" type="hidden" value="" name="destination">
													<input type="text" class="input" value="" id="destinationText"
														placeholder="简拼／全拼／汉字">
												</div>
											</div>
										</div>
										<div class="form-item form-item-btn mt-mlg">
											<a href="javascript:void(0)" class="btn btn-primary form-block"
												id="weather_button">查&nbsp;&nbsp;&nbsp;&nbsp;询</a>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="wrapper">
				<!-- 服务 -->
				<div class="w clearfix">
					<ul class="service-list clearfix"></ul>
					<script type="text/html" id="service-temp">
						<% for (var i = 0; i < data.length; i++) { %>
							<li>
								<a href="#">
									<i class="service-icon ico-s2"></i>
									<div><%= data[i]%></div>
								</a>
							</li>
						<% } %>
					</script>
					<!-- 服务列表-大图 -->
					<div class="service-lg clearfix"></div>
					<script type="text/html" id="service-lg-temp">
						<ul class="service-lg-list">
							<% for (var i = 0; i < data.length; i++) { %>
								<li>
									<a href="#"><img src="../img/<%= data[i]%>" alt=""></a>
								</li>
							<% } %>
						</ul>
					</script>
					<!-- 旅游 -->
					<div class="section">
						<div class="section-hd">
							<h3 class="section-tit">铁路旅游</h3>
							<a href="#" class="more">更多</a>
						</div>
						<div class="travel-train"></div>
						<script type="text/html" id="travel-train-temp">
							<ul class="travel-train-list clearfix">
								<% for (var i = 0; i < data.length; i++) { %>
									<li>
										<a href="#">
											<div class="travel-pic"><img src="../img/<%=data[i].img %>" alt=""></div>
											<div class="travel-info">
												<h3 class="travel-name"><%=data[i].title %></h3>
												<div class="txt-price">
													<i class="rmb"><%=data[i].rmb %></i><%=data[i].price %>
												</div>
											</div>
										</a>
									</li>
								<% } %>
							</ul>
						</script>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- 底部 -->
	<footer>
		<div class="w clearfix">
			<div class="foot-links" style="margin-right: 20px;">
				<h2 class="foot-con-tit">友情链接</h2>
				<ul class="foot-links-list clearfix">
					<li><a href="#"><img src="../img/foot-links-list-01.png" alt=""></a></li>
					<li><a href="#"><img src="../img/foot-links-list-02.png" alt=""></a></li>
					<li><a href="#"><img src="../img/foot-links-list-03.png" alt=""></a></li>
					<li><a href="#"><img src="../img/foot-links-list-04.png" alt=""></a></li>
				</ul>
			</div>
			<ul class="foot-code"></ul>
			<script type="text/html" id="foot-code-temp">
				<% for (var i = 0; i < data.length; i++) { %>
					<li style="width: 140px;">
					<h2 class="foot-con-tit"><%= data[i].h2%></h2>
					<div class="code-pic"><img src="../img/<%= data[i].img%>" alt=""></div>
				</li>
				<% } %>
			</script>
		</div>
		<div class="footer-txt">
			<p>
				<span class="mr">版权所有©2008-2018</span>
				<span class="mr">中国铁路信息科技有限责任公司</span>
				<span>中国铁道科学研究院集团有限公司</span>
			</p>
			<p>
				<span class="mr">京ICP备15003716号-3</span>
				<span class="mr">|</span>
				<span>京ICP证150437号</span>
			</p>
		</div>
	</footer>
	<script src="../js/index.js"></script>
	<script src="../js/getResult.js"></script>
</body>

</html>